<div class="card">
    <h5 class="card-header"><%= @user.fname + " " + @user.lname %></h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Email: <%= @user.email %></li>
        <li class="list-group-item">Thumbnail: <%= @user.thumbnail %></li>
    </ul>
    <div class="card-body">
        <%= link_to 'Edit', edit_user_path(@user), class: "card-link" %>
        <%= link_to 'Back', users_path, class: "card-link" %>
    </div>
</div>