<%= form_with id: "bugForm", model: @bug, local: true do |form| %>
    <div id="errorMessages"></div>

    <% if @bug.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
            <h2>
                <%= pluralize(@bug.errors.count, "error") %> prohibited this article from being saved:
            </h2>
            <ul>
                <% @bug.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="form-group">
        <!-- https://cis.gvsu.edu/~kurmasz/Teaching/Courses/W20/CIS658/LectureNotes/DemoScripts/RailsDemo03.html -->
        <%= form.label :user_id %>
        <%= form.select :user_id, options_for_select(User.all.collect do |user| ["#{user.fname} #{user.lname}", user.id] end), {}, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :issue_type %>
        <%= form.select :issue_type, @issue_types.keys, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :priority %>
        <%= form.select :priority, @priorities.keys, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :status %>
        <%= form.select :status, @statuses.keys, class: "form-control" %>
    </div>

    <div class="actions">
        <%= form.submit class: "btn btn-primary", data: {disable_with: false} %>
        <%= link_to 'Cancel', bugs_path, class: "btn btn-danger" %>
    </div>
<% end %>
