<% if !notice.blank? %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<h1>Listing Bugs</h1>
<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th class="w-25">User</th>
            <th class="w-25">Title</th>
            <th class="w-25">Description</th>
            <th class="w-25">Issue type</th>
            <th class="w-25">Priority</th>
            <th class="w-25">Status</th>
            <th class="w-25">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @bugs.each do |bug| %>
            <tr>
                <td class="w-25"><%= bug.user ? bug.user.fname + " " + bug.user.lname : "-" %>
                <td class="w-25"><%= bug.title %></td>
                <td class="w-25"><%= bug.description %></td>
                <td class="w-25"><%= bug.issue_type %></td>
                <td class="w-25"><%= bug.priority %></td>
                <td class="w-25"><%= bug.status %></td>
                <td>
                    <div class="btn-group" role="group">
                        <%= link_to bug_path(bug), class: "btn btn-info btn-sm", title: "View", data: {toggle: "tooltip"} do %>
                            <i class="fas fa-eye"></i>
                        <% end %>
                        <%= link_to edit_bug_path(bug), class: "btn btn-secondary btn-sm", title: "Edit", data: {toggle: "tooltip"} do %>
                            <i class="fas fa-edit"></i>
                        <% end %>
                        <%= link_to bug_path(bug), method: :delete, title: "Delete", data: { toggle: "tooltip", confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>
                            <i class="fas fa-trash"></i>
                        <% end %>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Bug', new_bug_path, class: "btn btn-primary" %>
<%= link_to 'Users', users_path, class: "btn btn-secondary" %>