<div class="card">
    <h5 class="card-header"><%= @bug.title %></h5>
    <div class="card-body">
        <p class="card-text">
            <%= @bug.description %>
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Assigned user: <%= @bug.user ? @bug.user.fname + " " + @bug.user.lname : "-" %></li>
        <li class="list-group-item">Issue type: <%= @bug.issue_type %></li>
        <li class="list-group-item">Priority: <%= @bug.priority %></li>
        <li class="list-group-item">Status: <%= @bug.status %></li>
    </ul>
    <div class="card-body">
        <%= link_to 'Edit', edit_bug_path(@bug), class: "card-link" %>
        <%= link_to 'Back', bugs_path, class: "card-link" %>
    </div>
</div>